h3 {
    text-shadow: 0px -4px 6px rgba(105, 9, 151, 0.6);
    font-family: 'Source Code Pro', monospace;
    font-size: 25px;
}

aside {
    width: 250px;
    float: left;
    position: relative;
    margin: auto;
}

.dato {
    border: 3px double #9313b0;
}

h4 {
    text-align: center;
    font-size: 20px;
}

blockquote{
    font-size: 18px;
}

.Cajapasado {
    display: flex;
}

.intropasado p {
    margin-left: 2%;
    margin-right: 2%;
}

.Cajapasado h3{
    margin-left: 2%;
}

.intropasado h2{
    margin-left: 2%;
}

.Consola {
    box-shadow: 9px 7px 30px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 9px 7px 30px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 9px 7px 30px 0px rgba(0, 0, 0, 0.75);
    background-color: white;
    display: inline-flex;
    margin: auto;
    text-align: center;
    transition: all 3s ease;
    margin-left: 2%;
    margin-right: 2%;
}

.Consola img {
    float: left;
    margin: auto;
    display: block;
    transition: all 4s ease;
    transform: scale(0.5)
}

.Consola:hover img {
    transform: scale(1)
}

.Consola:hover img {
    cursor: pointer;
}

.tipo {
    margin: auto;
    padding: 10px;
}
#fondo {
    background: rgba(126, 126, 126, 0.29);
    background: repeating-linear-gradient(335deg, rgba(126, 126, 126, 0.29) 0%, rgba(226, 214, 174, 0.47) 20%);
    background: -webkit-repeating-linear-gradient(335deg, rgba(126, 126, 126, 0.29) 0%, rgba(226, 214, 174, 0.47) 20%);
    background: -moz-repeating-linear-gradient(335deg, rgba(126, 126, 126, 0.29) 0%, rgba(226, 214, 174, 0.47) 20%);
}